body {
    background: linear-gradient(to bottom right, #1a4960, #360a24);

    color: #c0c0c0;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


/*!*.week-button {*!*/
/*!*    margin-bottom: 20px;*!*/
/*!*    background-color: #0062cc;*!*/
/*!*    border-style: none;*!*/
/*!*    border-radius: 5px;*!*/
/*!*    color: #fff;*!*/
/*!*    cursor: pointer;*!*/
/*!*    padding: 10px 20px;*!*/
/*!*}*!*/
/*!*.group-button:hover{*!*/
/*!*    background-color: #0056b3;*!*/
/*!*}*!*/

/*.week-button {*/
/*    background: linear-gradient(145deg, #8b9a6e, #6d7c50);*/
/*    color: #fff;*/
/*    padding: 14px 28px;*/
/*    border: none;*/
/*    border-radius: 8px;*/
/*    cursor: pointer;*/
/*    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);*/
/*    font-size: 16px;*/
/*    margin: 8px;*/
/*    transition: all 0.3s ease;*/
/*    font-weight: bold;*/
/*}*/

/*.week-button:hover {*/
/*    background: linear-gradient(145deg, #6d7c50, #8b9a6e);*/
/*    transform: translateY(-3px);*/
/*}*/

/*.week-button:active {*/
/*    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);*/
/*}*/
/*.group-button {*/
/*    background: linear-gradient(145deg, #8b9a6e, #6d7c50);*/
/*    color: #fff;*/
/*    padding: 14px 28px;*/
/*    border: none;*/
/*    border-radius: 8px;*/
/*    cursor: pointer;*/
/*    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);*/
/*    font-size: 16px;*/
/*    margin: 8px;*/
/*    transition: all 0.3s ease;*/
/*    font-weight: bold;*/
/*}*/

/*.group-button:hover {*/
/*    background: linear-gradient(145deg, #6d7c50, #8b9a6e);*/
/*    transform: translateY(-3px);*/
/*}*/

/*.group-button:active {*/
/*    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);*/
/*}*/





/*.schedule {*/
/*    background: #f0f1eb;*/
/*    color: #333;*/
/*    font-family: 'Helvetica Neue', sans-serif;*/
/*    margin: 0;*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*}*/